<h1>Courses</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= link_to course.code, course_path(course) %></td>
        <td><%= course.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', course_path(course), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_course_path, :class => 'btn btn-primary' %>
